/********* GENERAL *********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}


body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.fa-solid {
    color: var(--main-color);
}


/********* NAV *********/
nav {
    margin: 0px -25px;
    height: 20px;
    padding: 30px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.logo img {
    width: 40%;
}

.navlinks {
    position: relative;
    bottom: 25px;
}

.navlinks a {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-left: 65px;
    padding-top: 13px;
    border: 2px solid transparent;
}

.navlinks a:hover {
    color: var(--main-color);
    border-top: 2px var(--main-color) solid;
}


/********* SECTION INFO-GROUP *********/

/* HEADLINE */
.headline {
    margin-bottom: 40px;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0px;
}

.headline p {
    font-size: 1.1em;
    margin-top: 8px;
}


/* SEARCH-BAR */
.search-bar {
    margin-bottom: 30px;
}

#location {
    background-color: var(--main-bg-color);
    height: 50px;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    border-style: none;
    cursor: pointer;
}

#location i {
    font-size: 1.1em;
    color: black;
}

#textarea {
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: var(--main-bg-color);
    height: 50px;
    width: 180px;
    margin: 0px -4px 0px -4px;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    text-align: center;
}

#submit {
    background-color: var(--main-color);
    height: 50px;
    width: 130px;
    border-radius: 0px 15px 15px 0px;
    border-style: none;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#submit-icon {
    display: none;
}


/* FILTRES */
.filtres {
    margin-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

.filtres h2 {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0px;
}

.filtres button {
    border: 2px solid var(--filter-bg-color);
    border-radius: 25px;
    margin-right: 10px;
    padding: 12px 18px;
    background-color: white;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

.filtres button:hover {
    background-color: var(--filter-bg-color);
}

.filtres i {
    color: var(--main-color);
    padding-right: 12px;
}

/* INFOBAR */
.infobar {
    margin-bottom: 37px;
}

.fa-info {
    display: inline-block;
    padding: 12px;
    margin-right: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
}


/********* SECTION HEBERGEMENTS-AND-POPULAIRES *********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    height: 100%;
}

.section-title {
    margin: 0;
    font-size: 1.4em;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card a {
    text-decoration: none;
    color: black;
}

.card p {
    font-size: 0.9em;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1em;
}

.euro {
    font-weight: bold;
}

.neutralStar {
    color: var(--main-bg-color);
}


/* HEBERGEMENTS */
#hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    width: 30%;
    height: 200px;
}

.hebergements-cards img {
    width: 100%;
    height: 115px;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cards .card-content {
    padding-left: 10px;
    padding-bottom: 6px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-top: 6px;
}

.hebergements-cards .card-rating .fa-star {
    font-size: 0.9em;
}

/* MORE */
.show-more {
    margin-top: 20px;
    padding-top: 6px;
}

.show-more a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: bold;
}

/* POPULAIRES */
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards a {
    text-decoration: none;
    color: black;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/*********** ACTIVITES ***********/
#activites {
    margin-bottom: 70px;
    padding: 0px 30px;
}

.activites-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.activites-cards .card {
    margin-top: 32px;
    width: 23%;
    height: 440px;
    padding: 0px;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.activites-cards .card-content {
    padding-left: 20px;
}


/*********** FOOTER ***********/
footer {
    background-color: var(--main-bg-color);
    height: 165px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.footer1, .footer2, .footer3 {
    list-style: none;
    padding-left: 25px;
    margin-right: auto;
}

.footer1 a, .footer2 a, .footer3 a {
    text-decoration: none;
    color: black;
    line-height: 1.8em;
}

.footer1 h2, .footer2 h2, .footer3 h2 {
    font-size: 1.1em;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
/* INFO-BAR */
    .filtres {
        flex-direction: column;
    }

    .filtres h2 {
        margin: 0px;
    }

/* HEBERGEMENTS AND POPULAIRES*/
    .hebergements-and-populaires {
        flex-direction: column;
        margin-bottom: 55px;
    }

    #hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards  {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        margin-top: 17px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-cards img {
        width: 30%;
    }

    .populaires-cards .card-content {
        width: 70%;
    }

/* ACTIVITES */
    #activites {
        margin-bottom: 60px
    }

    .activites-cards .card {
        height: 265px;
    }

    .activites-cards img {
        height: 190px;
    }

    .activites-cards .card-content {
        padding-left: 14px;
        padding-right: 14px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0px;
    }

 /* NAVIGATION */
    nav {
        margin: 0px;
        padding: 30px 0px 0px 0px;
        height: 90px;
        display: flex;
        flex-flow: column wrap;
        text-align: center;
    }

    .logo img {
        width: 20%;
        position: static;
    }

    .navlinks {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }

    .navlinks a {
        margin-left: 0px;
        padding: 0px 0px 13px 0px;
    }

    .navlinks a:hover {
        border-top: none;
        border-bottom: 2px var(--main-color) solid;
    }

/* INFO-GROUP */
    .info-group {
        padding: 0px 10px;
    }

    h1 {
        font-size: 1.4em;
    }

    .headline p {
        font-size: 1em;
    }
    
    #textarea {
        width: 235px;
    }

    #submit {
        display: none;
    }

    #submit-icon {
        display: initial;
        background-color: var(--main-color);
        height: 50px;
        width: 50px;
        border-radius: 0px 15px 15px 0px;
        border-style: none;
        font-size: 1.1em;
        cursor: pointer;
    }

    #submit-icon i {
        font-size: 0.8em;
        color: white;
    }
    
/* FILTRES */
    .filtres {
        margin-bottom: 0px;
    }

    .filtres h2 {
        margin-bottom: 7px;
    }

    .filtres button {
        font-size: 0.9em;
        margin-right: 0px;
        display: flex;
        flex-basis: 48%;      
        margin-bottom: 20px;
    }

    .filtres i {
        color: var(--main-color);
        padding-right: 12px;
        font-size: 1.3em;
    }
    
    .filtres-buttons {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .infobar {
        margin-bottom: 13px;
    }

/* HEBERGEMENTS ET POPULAIRES */
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        }

    .hebergements-and-populaires section {
        border-radius: 0px !important;
        margin-top: 10px;
        padding: 15px;
    }

    .section-title {
        margin-top: 10px;
    }

    .populaires-cards {
        flex-direction: column;
    }

    #hebergements {
        background-color: white;

    }

    .hebergements-cards {
        flex-direction: column;
    }
    
    .hebergements-cards .card {
        width: 100%;
        margin-top: 17px;
    }

    .show-more {
        margin-top: 10px;
    }

/* ACTIVITES */
    .activites-cards {
        flex-direction: column;
    }

    .activites-cards .card {
        height: 200px;
        width: 100%;
    }

    .activites-cards img {
        height: 145px;
    }

    footer {
        height: 460px;
        flex-direction: column;
    }

    .footer1 h2, .footer2 h2, .footer3 h2 {
        font-size: 1.2em;
    }
}